# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

dissertation.aux
dissertation.bbl
dissertation.blg
dissertation.dvi
dissertation.lof
dissertation.log
dissertation.lot
dissertation.out
dissertation.pdf
dissertation.toc
